{% extends 'basic_page.html' %}
{% load static %}

{% block content%}

	<!-- Banner Starts -->
	<section>

	</section>
	<!-- Banner Ends -->

	<!-- Feature Highlights Start -->
	<article class="feature_wrapper">
		<div class="view_detail">
            <div style="text-align: center">
                <h2 style="font-size: 30px; background-color: rgb(26, 127, 194); margin: 4px auto; padding: 5px;">{{ v_detail.company_name }}</h2>
                <h4> Job Title : {{ v_detail.job_title }}</h4>

            <div>
                
            <div><br/><br/>
            <div>
                <h3> Oppurtunity rate: </h3>
                {{ v_detail.oppurtunity_rate}}
            <br/><br/>
            <div>
            <h3> Working environment: </h3>
                {{ v_detail.working_environment}}
            <br/><br/>
            <h3> Management: </h3>
                {{ v_detail.management}}
            <br/><br/>
            <h3> Benefits Perks: </h3>
                {{ v_detail.benefits_perks}}
            <br/><br/>
            <h3> Faclities Available: </h3>
                {{ v_detail.facilities}}
            <br/><br/>
            <h3> Reviewer is satisfy: </h3>
                {{ v_detail.recommend_other}}
            <br/><br/>
            <h3> Payment / Salary rate: </h3>
                {{ v_detail.salary_rate}}
            <br/><br/>
            <h3> Good things about company: </h3>
                {{ v_detail.good_things}}
            <br/><br/>
            <h3> Challenges on company: </h3>
                {{ v_detail.challeneges}}
            <br/><br/>
            <h3> Short Summary about company: </h3>
                {{ v_detail.company_summary}}
            <br/><br/>                      
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-danger" role="alert">
				{{ message }}
				</div>
		    {% endfor %}
		{% endif %}		

	</article>
	<!-- Feature Highlight ends -->

    <div class="c-text container-9" style="padding-bottom: 54px;"> 
        <div class="wrapper">
            <a href="{% url 'company_review' %}"><button class="butt"><h4>Give Your Company Review</h4></button></a>
        </div></br>
	</div>


	<!-- Latest Projects Section Starts -->
	<div class="space" style="margin:12px">
    </div>
	<section class="latest_projects_wrapper">
		<h3 class="page_heading_home">Advertisement</h3>
		<div class="project_container">
			<!-- Main Project -->
			<div class="project_thumb_wrapper">
				<p><a href="#"><b>Just Img.com</b></a></p>
				<img src="{% static 'images/p1.jpg' %}" />
				<p> short description</p>
			</div>
			<!-- Main Project ends -->

			<!-- Main Project -->
			<div class="project_thumb_wrapper">
				<p><a href="#"><b>Just Img.com</b></a></p>
				<img src="{% static 'images/p1.jpg' %}" />
				<p> short description</p>
			</div>
			<!-- Main Project ends -->

			<!-- Main Project -->
			<div class="project_thumb_wrapper">
				<p><a href="#"><b>Just Img.com</b></a></p>
				<img src="{% static 'images/p1.jpg' %}" />
				<p> short description</p>
			</div>
			<!-- Main Project ends -->

			<!-- Main Project -->
			<div class="project_thumb_wrapper">
				<p><a href="#"><b>Just Img.com</b></a></p>
				<img src="{% static 'images/p1.jpg' %}" />
				<p> short description</p>
			</div>
			<!-- Main Project ends -->
		</div>
	</section>
{% endblock %}