{% extends 'basic_page.html' %}

{% comment %} {% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
{% endblock %} {% endcomment %}
{% block content%}
<!-- Page Header -->
	<section class="page_heading">
		<h3 class="page-heading">EDIT PROFILE</h3>
	</section>
	<!-- Page Header Ends -->

	<section class="page-container">

		<!-- Page Content Starts -->
		<br/><br/>

		
		<div class="con-1">
			<form id = "forms" action="{% url 'edit_profile'%}" method="POST">
				{% csrf_token %}
                <ul>
				{{ form.as_ul }}</br>
                <h3 style="color:blue;">If you want to recommend then, tick the Recommendation, Otherwise untick it.</h3>
				</ul></br>
				{% if messages %}
				{% for message in messages %}
					<div class="alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% endfor %}
				{% endif %}
				<br/>

				<input name="send" type="submit" value="Update" class="main_button" id="button">
			</form>
		</div>

		<!-- Page Content Ends   -->
	</section>
{% endblock %}