{% autoescape off %}
Hi Rojgarr notify you to,
    Someone is intrested on your job vacancy (Job Title : {{ job_title }}). Here is his detail:

	Full name         : {{ full_name }}
    Temporary Address : {{ temporary_address }}
    Permanent Address : {{ permanent_address }}
    Education         : {{ education }}
    Profession        : {{ profession }}
    Skills            : {{ skills }}
    Experience        : {{ experience }} years

    Please contact with him with thus below information:
    
    contact           : {{ contact }}
    email             : {{ email }} 


{% endautoescape %}