<header class="header">
	<!-- Logo and Text -->
	<div class="logo"><a href="index.html"><img src="{% static 'images/logo.jpg' %}" style="height: 2.5cm;"/></a></div>
	<div class="logo_text">Rojgarr</div>
	<!-- Search Bar -->
	 <div class="search_wrapper">
		<input type="text" placeholder="Search..." class="search_input">
	</div>
	<div class="clear"></div>

	<!-- Navigation -->
	<nav class="navigation">
		<ul class="nav" id="myDIV">
				<li><a href="{% url 'home' %}" class="btn active" onclick="action()">Home</a></li>
				<li><a href="about-me.html">About Us</a></li>			
				<li><a href="achievements.html">Support</a></li>
				<li><a href="hire-me.html">Profile</a></li>
				<li><a href="{% url 'signup' %}" class = "click">Register</a></li>
				<li><a href="{% url 'login' %}" class="click">Log in</a></li>
		</ul>
	</nav>
	{% comment %} <div class="clear"></div>
	<div class="space"></div> {% endcomment %}
	{% block body %}

	{% end body %}
</header>