{% extends 'basic_page.html' %}
{% load static %}

{% block content%}

	<!-- Banner Starts -->
	<section>
		<div class="page_heading_index">
			<!--<div>
				<img src="site_assets/images/slider.jpg" class="banner" />
			</div>-->
			<div class="con-1">
			<form id = "forms" method="POST" action="{% url 'search' %}">
				{% csrf_token %}
				{{ search_form.catagories}}
				<br/>
				{{ search_form.place}}
				<br/>
				{% if messages %}
				{% for message in messages %}
					<div class="alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% endfor %}
				{% endif %}			
				<br/> <br/>
				<input name="send" type="submit" value="Search Job" class="main_button" id="button">
			</form>

			</div>
		</div>
	</section>
	<!-- Banner Ends -->

	<!-- Feature Highlights Start -->
	<article class="feature_wrapper">
		<div class="feature_container">
			<h2 style="font-size: 40px; background-color: #0b3c5d; margin: 16px auto; padding: 13px;">Avialable Jobs</h2>
			{% if not v_detail %}
			<br/>
				<h2 style=" background-color: red;">No any job found.</h2>
			{% endif %}
			
			{% for v in v_detail%}
			<a href="{% url 'description' pk=v.pk %}"><div class="feature">
				{% if v.urgent %}
				<p class="emergency">Urgent<p>
				{% endif %}
				<p>Job Category : {{v.job_category}}</p>
				<p>Job Title : {{v.job_title}}</p>
				<p>Salary : Rs. {{v.range_of_salary}}</p></br>
				<p>{{v.company_name}}</p>
				<p>{{v.company_address}}</p>
			</div></a>	
			{% endfor %}	
		</div>
		<div class="pagination">
			{% if v_detail.has_previous %}
				<a class="pagination_action" href="?page=1">&laquo; First</a>
				<a class="pagination_action" href="?page={{ v_detail.previous_page_number }}">Previous</a>
			{% endif %}
			{% for num in v_detail.paginator.page_range %}
				{% if v_detail.number == num %}
					<span class="pagination_number pagination_current" >{{ num }} </span>
				{% elif num > v_detail.number|add:'-3' and num < v_detail.number|add:'3' %}
					<span class="pagination_number">{{ num }}</span>
				{% endif %}
			{% endfor %}
			{% if v_detail.has_next %}
				<a class="pagination_action" href="?page={{ v_detail.next_page_number }}">Next</a>
				<a class="pagination_action" href="?page={{ v_detail.paginator.num_pages }}">Last &raquo;</a>
			{% endif %}	
			{% comment %} <span class="step-links">
				{% if page_obj.has_previous %}
					<a href="?page=1">&laquo; First</a>
					<a href="?page={{ page_obj.previous_page_number }}">Previous</a>
				{% endif %}

				<span class="current" style="font-size = 10px;">
					{{ page_obj.number }} <strong > to </strong> {{ page_obj.paginator.num_pages }}.
				</span>

				{% if page_obj.has_next %}
					<a href="?page={{ page_obj.next_page_number }}">Next</a>
					<a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
				{% endif %}
			</span> {% endcomment %}
		</div>
	</article>
	<!-- Feature Highlight ends -->



	<!-- Latest Projects Section Starts -->
	<div class="space"></div>
	<section class="latest_projects_wrapper">
		<h3 class="page_heading_home">Advertisement</h3>
		<div class="project_container">
			<!-- Main Project -->
			<div class="project_thumb_wrapper">
				<p><a href="#"><b>Just Img.com</b></a></p>
				<img src="{% static 'images/p1.jpg' %}" />
				<p> short description</p>
			</div>
			<!-- Main Project ends -->

			<!-- Main Project -->
			<div class="project_thumb_wrapper">
				<p><a href="#"><b>Just Img.com</b></a></p>
				<img src="{% static 'images/p1.jpg' %}" />
				<p> short description</p>
			</div>
			<!-- Main Project ends -->

			<!-- Main Project -->
			<div class="project_thumb_wrapper">
				<p><a href="#"><b>Just Img.com</b></a></p>
				<img src="{% static 'images/p1.jpg' %}" />
				<p> short description</p>
			</div>
			<!-- Main Project ends -->

			<!-- Main Project -->
			<div class="project_thumb_wrapper">
				<p><a href="#"><b>Just Img.com</b></a></p>
				<img src="{% static 'images/p1.jpg' %}" />
				<p> short description</p>
			</div>
			<!-- Main Project ends -->
		</div>
	</section>
{% endblock %}