{% extends 'basic_page.html' %}

{% block content%}
<!-- Page Header -->
	<section class="page_heading">
		<h3 class="page-heading">LOG IN</h3>
	</section>
	<!-- Page Header Ends -->

	<section class="page-container">

		<!-- Page Content Starts -->
		<br/><br/>

		
		<div class="con-1">
			<form id = "forms" action="{% url 'verified_login' %}" method="POST">
				{% csrf_token %}
				{{ login_form.email }}
				<br/>
				{{ login_form.email_password }}
				<br/>
				{% if messages %}
				{% for message in messages %}
					<div class="alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% endfor %}
				{% endif %}
				<br/> <br/>
				<input name="send" type="submit" value="Log in" class="main_button" id="button">
			</form>
		</div>

		<!-- Page Content Ends   -->
	</section>
{% endblock %}