{% extends 'basic_page.html' %}
{% block content%}
<section class="page_heading">
	<h3 class="page-heading">My Projects</h3>
</section>
<!-- Page Header Ends -->

<section class="page-container">

	<!-- Page Content Starts -->
	<br/><br/>
	<div class="project_container">
		<!-- Main Project -->
		<div class="project_thumb_wrapper" style="width: 100%; text-align: center;">
			<a href="site_assets/images/p1.jpg" class="gallery"><img src="site_assets/images/p1.jpg" /></a>
			<p><a href="#"><b>Just Img.com</b></a></p>
		</div>
		<!-- Main Project ends -->

		<!-- Main Project -->
		<div class="project_thumb_wrapper">
			<a href="site_assets/images/p2.jpg" class="gallery"><img src="site_assets/images/p2.jpg" /></a>
			<p><a href="#"><b>Just Img.com</b></a></p>
		</div>
		<!-- Main Project ends -->

		<!-- Main Project -->
		<div class="project_thumb_wrapper">
			<a href="site_assets/images/p3.jpg" class="gallery"><img src="site_assets/images/p3.jpg" /></a>
			<p><a href="#"><b>Just Img.com</b></a></p>
		</div>
		<!-- Main Project ends -->

		<!-- Main Project -->
		<div class="project_thumb_wrapper">
			<a href="site_assets/images/p4.jpg" class="gallery"><img src="site_assets/images/p4.jpg" /></a>
			<p><a href="#"><b>Just Img.com</b></a></p>
		</div>
		<!-- Main Project ends -->

		<!-- Main Project -->
		<div class="project_thumb_wrapper">
			<a href="site_assets/images/p5.jpg" class="gallery"><img src="site_assets/images/p5.jpg" /></a>
			<p><a href="#"><b>Just Img.com</b></a></p>
		</div>
		<!-- Main Project ends -->

		<!-- Main Project -->
		<div class="project_thumb_wrapper">
			<a href="site_assets/images/p6.jpg" class="gallery"><img src="site_assets/images/p6.jpg" /></a>
			<p><a href="#"><b>Just Img.com</b></a></p>
		</div>
		<!-- Main Project ends -->

		<!-- Main Project -->
		<div class="project_thumb_wrapper">
			<a href="site_assets/images/p7.jpg" class="gallery"><img src="site_assets/images/p7.jpg" /></a>
			<p><a href="#"><b>Just Img.com</b></a></p>
		</div>
		<!-- Main Project ends -->

		<!-- Main Project -->
		<div class="project_thumb_wrapper">
			<a href="site_assets/images/p8.jpg" class="gallery"><img src="site_assets/images/p8.jpg" /></a>
			<p><a href="#"><b>edusmart.com</b></a></p>
		</div>
		<!-- Main Project ends -->

		<!-- Main Project -->
		<div class="project_thumb_wrapper">
			<a href="site_assets/images/p9.png" class="gallery"><img src="site_assets/images/p9.png" /></a>
			<p><a href="#"><b>Just Img.com</b></a></p>
		</div>
		<!-- Main Project ends -->

		<!-- Main Project -->
		<div class="project_thumb_wrapper">
			<a href="site_assets/images/p10.jpg" class="gallery"><img src="site_assets/images/p10.jpg" /></a>
			<p><a href="#"><b>Just Img.com</b></a></p>
		</div>
		<!-- Main Project ends -->

		<!-- Main Project -->
		<div class="project_thumb_wrapper">
			<a href="site_assets/images/p11.jpg" class="gallery"><img src="site_assets/images/p11.jpg" /></a>
			<p><a href="#"><b>Just Img.com</b></a></p>
		</div>
		<!-- Main Project ends -->

		<!-- Main Project -->
		<div class="project_thumb_wrapper">
			<a href="site_assets/images/p12.png" class="gallery"><img src="site_assets/images/p12.png" /></a>
			<p><a href="#"><b>Just Img.com</b></a></p>
		</div>
		<!-- Main Project ends -->

	</div>
	<!-- Page Content Ends   -->
</section>
{% endblock %}