{% extends 'employer_site.html' %}
{% load staticfiles%}

{% block content%}
	<!-- Page Header -->
	<section class="page_heading">
		<h3 class="page-heading">EMPLOYER SIGN UP</h3>
	</section>
	<!-- Page Header Ends -->

	<section class="page-container">

		<!-- Page Content Starts -->
		<br/><br/>

		
		<div class="con-1">
			<form method="post">
    			{% csrf_token %}
				<ul>
    			{{ form.as_ul }}</br>
				{% if messages %}
				{% for message in messages %}
					<div class="alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% endfor %}
				{% endif %}
				</br><h4>I accept all the agreement and policy of this company.</h4>
				<a href="#"> </br>Please click here to see the agreement and policy. </a>
				</ul></br>
    			<button type="submit" class="main_button" id="button">Sign up</button>
  			</form>
			{% comment %} <form id = "forms" method="POST" action="{% url 'employer_user_detail' %}" >
				{% csrf_token %}
				{{ signup_form.}}
				<br/>
				{{ signup_form.company_email }}
				<br/>
				{{ signup_form.company_password }}
				<br/>
                <h3>Company Address</h3></br>
				{{ signup_form.company_address }}
				<br/>

                <h3>Company Name</h3></br>
				{{ signup_form.company_name }}
				<br/>
				<h3>Phone Number</h3></br>
				{{ signup_form.company_contact }}
				<br/> 
				{% if messages %}
				{% for message in messages %}
					<div class="alert alert-danger" role="alert">
						{{ message }}
					</div>
				{% endfor %}
				{% endif %}
				<br/> <br/>
				<input name="send" type="submit" value="Register detail" class="main_button" id="button">
			</form> {% endcomment %}
		</div>

		<!-- Page Content Ends   -->
	</section>
{% endblock %}